.contact {
  width: 100%;
  height: calc(100vh - 65px);
  background-color: white;
  display: flex;
  margin: 0;
  margin-top: 200px;
  padding: 120px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-contact {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 500;
}

.contact .line {
  text-align: center;
  padding: 2px 0;
  background-color: var(--main-color);
}

.contact p {
  color: var(--gray-color);
  margin-bottom: 35px;
  text-align: center;
}

.contact form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact form .my-input {
  width: 100%;
}

.contact form .my-input input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  outline: 0;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.contact form .my-input input:focus {
  border-color: var(--main-color);
}

.contact form .my-input input::placeholder,
#msg::placeholder {
  opacity: 0;
}

.contact form .my-input label {
  display: inline-block;
  width: auto;
  margin-left: 20px;
  text-align: left;
  background-color: white;
  color: var(--gray-color);
  transform: translateY(-3em);
  transform-origin: 0 0;
  transition: all 0.2s ease-in;
}

.contact form .my-input input:focus + label,
.contact form .my-input input:not(:placeholder-shown) + label {
  color: var(--main-color);
  transform: translateY(-4.6em) scale(0.99);
}

#msg {
  width: 100%;
  height: 110px;
  padding: 15px;
  margin-bottom: 15px;
  outline: 0;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  position: relative;
  resize: none;
  transition: all 0.5s ease-in-out;
}

.contact form #msg + label {
  display: inline-block;
  width: auto;
  margin-left: 20px;
  text-align: left;
  background-color: white;
  color: var(--gray-color);
  transform: translateY(-7em);
  transform-origin: 0 0;
  transition: all 0.2s ease-in;
}

.contact form #msg:focus + label,
.contact form #msg:not(:placeholder-shown) + label {
  color: var(--main-color);
  transform: translateY(-8.6em) scale(0.99);
}

input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.phone-num {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.fa-mobile-alt {
  font-size: 33px;
  margin-bottom: 20px;
}

.phone {
  color: var(--gray-color);
}

/* * ================================================================================================== */

@media (max-width: 700px) {
  .title-contact {
    font-size: 23px;
  }
  .contact p {
    font-size: 13px;
    padding: 0 10px;
  }
  .contact form {
    width: 80%;
  }
  input[type="submit"] {
    font-size: 13px;
    padding: 15px 20px;
  }
}
